<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xml:lang="es" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Plantilla: Informe de Seguimiento</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="P_IS">
<meta name="uma.presentationName" content="Informe de Seguimiento">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_EwUpQMsREeuTbqH7vO10mQ"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Plantilla: Informe de Seguimiento</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">Plantilla que permite elaborar un informe de seguimiento a un activo de la organización.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relaciones</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Elementos relacionados</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../RMM/workproducts/WP_IS_F123EBB5.html" guid="_8D6SwMsQEeuTbqH7vO10mQ">Informe de seguimiento</a>
</li>
<li>
<a href="./../../../RMM/workproducts/WP_IS_PGRA_4A5943EF.html" guid="_AsRlAMsREeuTbqH7vO10mQ">Informe de seguimiento al PGR del activo</a>
</li>
<li>
<a href="./../../../RMM/workproducts/WP_IS_PTR_DF20C3BA.html" guid="_p-Rd0MvmEeurUu0Uc60fZg">Informe de seguimiento al plan de tratamiento de riesgos</a>
</li>
<li>
<a href="./../../../RMM/workproducts/WP_IS_EGR_4332BC7.html" guid="_V90QAMsREeuTbqH7vO10mQ">Informe de seguimiento de la EGR</a>
</li>
<li>
<a href="./../../../RMM/workproducts/WP_IS_PM_EGR_41895ABC.html" guid="_rfZgEMvrEeurUu0Uc60fZg">Informe de seguimiento del Plan de mejora a la EGR</a>
</li>
<li>
<a href="./../../../RMM/workproducts/WP_IS_PM_PGRA_90AF2823.html" guid="_C_v24MvqEeurUu0Uc60fZg">Informe de seguimiento del Plan de mejora al PGR del activo</a>
</li>
<li>
<a href="./../../../RMM/workproducts/WP_IS_PCEGR_F7A58D5B.html" guid="_EFDqMMvLEeurUu0Uc60fZg">Informes de seguimiento al plan de capacitaci&oacute;n de la EGR</a>
</li>
<li>
<a href="./../../../RMM/workproducts/WP_IS_PCOM_EGR_C0A2FBDD.html" guid="_bVGCMMvLEeurUu0Uc60fZg">Informes de seguimiento al plan de comunicaci&oacute;n de la EGR</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Descripci&oacute;n</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Archivos adjuntos</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../RMM/guidances/templates/resources/Plantilla - Informe de Seguimiento.xlsx" target="_blank">Plantilla - Informe de Seguimiento.xlsx</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
