<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xml:lang="es" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Plantilla: Informe de Validaci&oacute;n</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="P_IV">
<meta name="uma.presentationName" content="Informe de Validaci&oacute;n">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=null;
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_-XcGgMsOEeuTbqH7vO10mQ"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Plantilla: Informe de Validaci&oacute;n</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td><td width="100%" class="expandCollapseLink" align="right"><a name="mainIndex" href="./../../../index.htm"></a><script language="JavaScript" type="text/javascript" src="./../../../scripts/treebrowser.js"></script></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">Plantilla que permite elaborar un informe de la validación de un activo de la organización.</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relaciones</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Elementos relacionados</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../RMM/workproducts/WP_IV_B9C887CD.html" guid="_0F3JAMsOEeuTbqH7vO10mQ">Informe de la validaci&oacute;n</a>
</li>
<li>
<a href="./../../../RMM/workproducts/WP_IV_PM_EGR_526E8E65.html" guid="_3CEDEMvMEeurUu0Uc60fZg">Informe de validaci&oacute;n al plan de mejora a la EGR </a>
</li>
<li>
<a href="./../../../RMM/workproducts/WP_IV_EGR_EB8549C6.html" guid="_CmLlkMsUEeuTbqH7vO10mQ">Informe de validaci&oacute;n de la EGR</a>
</li>
<li>
<a href="./../../../RMM/workproducts/WP_IV_CR_7D008CA8.html" guid="_XScaMMvNEeurUu0Uc60fZg">Informes de validaci&oacute;n a los Criterios del riesgo </a>
</li>
<li>
<a href="./../../../RMM/workproducts/WP_IV_PGRA_9BC85BF8.html" guid="_ky9_8MvNEeurUu0Uc60fZg">Informes de validaci&oacute;n al PGR del Activo</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Descripci&oacute;n</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Archivos adjuntos</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../RMM/guidances/templates/resources/Plantilla - Informe de Validación.docx" target="_blank">Plantilla - Informe de Validaci&oacute;n.docx</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
